
%h3
  Community Resources
.height
  - @users.each do |u|
    .blue.name
      = u.name
    %span.italic{:style => "color:#1371bb" } Contact this owner
    %br
    / Address:
    / .user-attr
    /   = u.address
    Certifications:
    .user-attr
      - u.attributes.each do |attr_name, attr_value|
        - if attr_value == true && attr_name == 'cert'
          .resource_links#resource_cert
            &nbsp;&nbsp; - CERT
        - if attr_value == true && attr_name == 'nert'
          .resource_links
            &nbsp;&nbsp; - NERT
        - if attr_value == true && attr_name == 'cpr'
          .resource_links
            &nbsp;&nbsp; - CPR
        - if attr_value == true && attr_name == 'safe'
          .resource_links
            &nbsp;&nbsp; - SAFE
        - if attr_value == true && attr_name == 'first_aid'
          .resource_links#resource_first
            &nbsp;&nbsp; - First Aid
    Skills:
    .user-attr
      - u.attributes.each do |attr_name, attr_value|
        - if attr_value == true && attr_name == 'contractor'
          .resource_links
            &nbsp;&nbsp; - Contractor
        - if attr_value == true && attr_name == 'engineer'
          .resource_links
            &nbsp;&nbsp; - Engineer
        - if attr_value == true && attr_name == 'mechanic'
          .resource_links
            &nbsp;&nbsp; - Mechanic
        - if attr_value == true && attr_name == 'healthcare'
          .resource_links
            &nbsp;&nbsp; - Healthcare
    Resources:
    %br
    &nbsp;&nbsp; Facility
    .user-attr
      - u.attributes.each do |attr_name, attr_value|
        - if attr_value == true && attr_name == 'church'
          .resource_links
            &nbsp;&nbsp; - Church
        - if attr_value == true && attr_name == 'school'
          .resource_links
            &nbsp;&nbsp; - School
        - if attr_value == true && attr_name == 'bomb_shelter'
          .resource_links
            &nbsp;&nbsp; - Bomb Shelter
        - if attr_value == true && attr_name == 'hurricane_shelter'
          .resource_links
            &nbsp;&nbsp; - Hurricane Shelter
    &nbsp;&nbsp; Medical
    .user-attr
      - u.attributes.each do |attr_name, attr_value|
        - if attr_value == true && attr_name == 'oxygen'
          .resource_links
            &nbsp;&nbsp; - Oxygen
        - if attr_value == true && attr_name == 'wheel_chair'
          .resource_links#resource_wheelchair
            &nbsp;&nbsp; - Wheel Chair
        - if attr_value == true && attr_name == 'defibrillation'
          .resource_links#resource_defib
            &nbsp;&nbsp; - Defibrillation
    &nbsp;&nbsp; Equipment - Heavy
    .user-attr
      - u.attributes.each do |attr_name, attr_value|
        - if attr_value == true && attr_name == 'dump_truck'
          .resource_links
            &nbsp;&nbsp;&nbsp; - Dump Truck
        - if attr_value == true && attr_name == 'back_hoe'
          .resource_links#resource_backhoe
            &nbsp;&nbsp;&nbsp; - Back Hoe
        - if attr_value == true && attr_name == 'crane'
          .resource_links
            &nbsp;&nbsp;&nbsp; - Crane
        - if attr_value == true && attr_name == 'fork_lift'
          .resource_links
            &nbsp;&nbsp;&nbsp; - Fork Lift
        - if attr_value == true && attr_name == 'fuel'
          .resource_links
            &nbsp;&nbsp;&nbsp; - Fuel
        - if attr_value == true && attr_name == 'air_compressor'
          .resource_links
            &nbsp;&nbsp;&nbsp; - Air Compressor
        - if attr_value == true && attr_name == 'truck'
          .resource_links
            &nbsp;&nbsp;&nbsp; - Truck
        - if attr_value == true && attr_name == 'power_generator'
          .resource_links
            &nbsp;&nbsp;&nbsp; - Power Generator
        - if attr_value == true && attr_name == 'bus'
          .resource_links
            &nbsp;&nbsp;&nbsp; - Bus
        - if attr_value == true && attr_name == 'saw'
          .resource_links
            &nbsp;&nbsp;&nbsp; - Saw
        - if attr_value == true && attr_name == 'lathe'
          .resource_links
            &nbsp;&nbsp;&nbsp; - Lathe
        - if attr_value == true && attr_name == 'plow'
          .resource_links
            &nbsp;&nbsp;&nbsp; - Plow
        - if attr_value == true && attr_name == 'jack_hammer'
          .resource_links
            &nbsp;&nbsp;&nbsp; - Jack Hammer
    &nbsp;&nbsp; Equipment - Light
    .user-attr
      - u.attributes.each do |attr_name, attr_value|
        - if attr_value == true && attr_name == 'emergency_kit'
          .resource_links
            &nbsp;&nbsp;&nbsp; - Emergency Kit
        - if attr_value == true && attr_name == 'drill'
          .resource_links
            &nbsp;&nbsp;&nbsp; - Drill
        - if attr_value == true && attr_name == 'hammer'
          .resource_links
            &nbsp;&nbsp;&nbsp; - Hammer
        - if attr_value == true && attr_name == 'survival_kit'
          .resource_links
            &nbsp;&nbsp;&nbsp; - Survival Kit
        - if attr_value == true && attr_name == 'shovel'
          .resource_links
            &nbsp;&nbsp;&nbsp; - Shovel

    %br

  / .blue Lowell High School
  / Address: 
  / .user-attr
  /   &nbsp;&nbsp; 1101 Eucalyptus Dr., San Francisco, CA, 94132
  / Certifications
  / .user-attr
  /   &nbsp;&nbsp; - First aid
  / .user-attr
  /   &nbsp;&nbsp; - NERT
  / .user-attr
  /   &nbsp;&nbsp; - CERT
  / .user-attr
  /   &nbsp;&nbsp; - First Aid

  / Skills:
  / .user-attr
  /   &nbsp;&nbsp; - Chef/Cook
  / .user-attr
  /   &nbsp;&nbsp; - Contractor

  / Resources:
  / .user-attr
  /   &nbsp;&nbsp; - School
  / .user-attr
  /   &nbsp;&nbsp; - Centralized Heating
  / .user-attr
  /   &nbsp;&nbsp; - Bomb Shelter

  / Medical:
  / .user-attr
  /   &nbsp;&nbsp; - Wheel Chair
  / .user-attr
  /   &nbsp;&nbsp; - Difibrullation

  / Equipment - Heavy:
  / .user-attr
  /   &nbsp;&nbsp; - Van (2)

  / Equipment - Light:
  / .user-attr
  /   &nbsp;&nbsp; - Emergency Kit (7 days)
  / .user-attr
  /   &nbsp;&nbsp; - Advanced Toolkit
  
  
